/bin
.settings

600Nodos_40Ady Secuencial
600Nodos_40Ady
1000Nodos_50Ady
1000Nodos_50Ady Matula
1000Nodos_50Ady Secuencial
1000Nodos_50Ady WheelsPower
1000Nodos_75Ady
1000Nodos_75Ady Matula
1000Nodos_75Ady Secuencial
1000Nodos_75Ady WheelsPower
